= simple_form_for @finder do |f|
  .input-field
    = f.input :name, label: 'Title'
  .input-field
    = f.input :reference, label: 'Reference (Please remove slash (/) at the end of your url if exists)'
  .input-field
    = f.input :description, as: :ckeditor
  .input-field
    = f.submit class: 'btn green'
    = link_to 'Cancel', finders_path, class: 'btn waves-effect waves-light blue'
